.container{
    background-color: #fcf7e3;
    border-radius: 50px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
    color: brown;
}
.img-container{
    margin: 2em;
}
.img-container img{
    height: 80%;
}
@media screen and (max-width: 700px){
    .container{
        flex-direction: column-reverse;
    }
}